
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Edit Pokemon</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <h1>Edit Pokemon Page</h1>
    <form action="/pokedex/<%=index%>?_method=PUT" method="POST"> 
      Name: <input type="text" name="name" value="<%=data.name%>" /><br />
      <input type="submit" name="" value="Submit Changes" />
    </form>
    <style>
        body {
            background-color: #FFD580;
        }
    </style>
  </body>
</html>