<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get A New Pokemon!</title>
</head>
<body>
    <h1>New Pokemon Page</h1>
    <form action="/pokedex" method="POST">
        Name: <input type="text" name="name"/><br />
        <input type="submit" value="New Pokemon" />
      </form>

      <style>
          body {
            background-color: #FFD580;
        }
      </style>
</body>
</html>